<!DOCTYPE html>
<html>
	<head>
		<title>Group Chat</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				var socket = io.connect();
				var messageForm = $('#messageForm');
				var message = $('#type');
				var chat = $('#chat');
				var userForm = $('#UserForm');
				var adduser = $('#adduser');
				var username = $('#username');
				var allusers = $('#allusers');
				var body = $('#body');
				var msgs = '';
				var error = $('#error');
				messageForm.submit(function(e){
					e.preventDefault();
					console.log('submited');
					socket.emit('send', message.val());
					message.val('');
				});
				userForm.submit(function(e){
					e.preventDefault();
					socket.emit('new user', username.val(), function(data){
						if(data){
							adduser.hide();
							body.show();
						}
						else{
							error.html('That Username is already taken!');
						}	
					});
					socket.emit('page load');
					username.val('');
				});
				socket.on('load', function(data){
					msgs = '';
					for(let y = 0; y<data.length; y++){
						msgs += '<p class="displaymsg"><strong>'+data[y].user+'</strong>: '+ data[y].msg + '</p>';
					}
					chat.html(msgs);
				});
				socket.on('append', function(data){
					msgs = '';
					for(let x = 0; x<data.length; x++){
						msgs += '<p class="displaymsg"><strong>'+data[x].user+'</strong>: '+ data[x].msg + '</p>';
					}
					chat.html(msgs);
				});
				socket.on('get users', function(data){
					var html = '';
					for(let i = 0; i<data.length; i++){
						html += '<h5 class="eachuser">'+data[i]+'</h5>';
					}
					allusers.html('<div class="nav-wrapper"><h3>Online:</h3></div>' +html);
				});
			});
		</script>
	</head>
	<body>
		<div id="adduser">
			<img id="blah" src="/blah.png" alt="logo">
			<p id="error"></p>

			<form id="UserForm">
				<input id="username" type="text" name="newuser" placeholder="Create Username" autocomplete="off"><br>
				<button id="newuser">Lets Blah!</button>
			</form>
		</div>
		<div id="body" class="body">
			<div class="wrapper">
					<img id="blah2" src="/blah.png" alt="logo">
				
				<div id="chat" class="Board">
					
				</div>
				<div class="newmsg">
					
					<form id="messageForm">
						<input id="type" type="text" name="newmsg" placeholder="&nbsp; &nbsp;Enter your message here...">
						<button  id="button">BLAH</button>
					</form>
				</div>
			</div>
			<div id="allusers" class="users">
				<h3 class="onlineUsers">Online:</h3>
			</div>
		</div>
	</body>
</html>