*{
    margin: 0px;
    padding: 0px;
}
/* .wrapper{
	width: 800px;
	height: 650px; 
	margin: auto;
	display: inline-block;
	margin-left: 100px; 
} */
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../back.jpg);

	
}
#body{
	
	width: 500px;
	margin: 0 auto;
	display: none;
}
#chat {
	height: 500px; 
	border: 2px solid rgb(83, 76, 175);
	background-color: white;
	border-radius: 5px;
}

#adduser {
	text-align: center;
	margin-top: 5%;
}

.nav-wrapper {
	background-color: rgb(83, 76, 175);
	color: white;
}

.displaymsg {
	padding-left: 4px;
	padding-top: 4px;
	font-size: 22px; 
}


#type {
	width: 36%;
	height: 50px;
	font-size: 20px;
	border: 2px solid rgb(54, 54, 54);
	border-radius: 5px;
}
#button{
	border-radius: 5px;
	background-color: rgb(83, 76, 175);
	border: 2px solid rgb(83, 76, 175);
	height: 50px;
	color: white;
    padding: 17px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.users{
	background-color: white;
	margin-bottom: 2px;
	height: 100px;
	border: 2px solid rgb(83, 76, 175);
	border-radius: 5px;
	text-align: center;
}
#newuser{
	
	margin-top: 5px;
    background-color: rgb(83, 76, 175);
    box-shadow: 5px 5px 2px rgb(54, 54, 54);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#username{
	
	text-align: center;
	height: 40px;
	width: 340px;
	border-radius: 5px;
}
#blah {
    
    margin-bottom: 200px;
    
  }

