*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
	width: 800px;
	height: 650px; 
	margin: auto;
	display: inline-block;
	margin-left: 100px; 
}
body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../back.jpg)
}
#body{
	
	width: 500px;
	margin: 0 auto;
	display: none;
}
#chat {
	margin-left: -6%;
	width: 50%;
	height: 500px; 
	border: 2px solid rgb(83, 76, 175);
	opacity: 0.7;
	background-color: rgb(130, 243, 243);
	border-radius: 5px;
	overflow: hidden;
}
#chat:hover {
	overflow-y: scroll;
}

#adduser {
	text-align: center;
	margin-top: 5%;
}

.nav-wrapper {
	background-color: rgb(83, 76, 175);
	color: white;
}

.displaymsg {
	padding-left: 4px;
	padding-top: 4px;
	font-size: 22px; 
}


#type {
	overflow-y: hidden;
	margin-left: -6%;
	width: 50%;
	height: 50px;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 5px;
	resize: none;
}

.users{
	background-color: rgb(163, 241, 199);
	position: fixed;
	left: 27%;
	top: 27%;
	width: 150px; 
	height: 300px;
	border: 2px solid rgb(83, 76, 175);
	border-radius: 5px;
	text-align: center;
}
#newuser{
	
	margin-top: 5px;
    background-color: rgb(83, 76, 175);
    box-shadow: 5px 5px 2px rgb(54, 54, 54);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#username{
	
	text-align: center;
	height: 40px;
	width: 340px;
	border-radius: 5px;
}
#blah {
    
    margin-bottom: 200px;
    
  }
  #button{
	margin-top: 5px;
    background-color: rgb(83, 76, 175);
    box-shadow: 5px 5px 2px rgb(54, 54, 54);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
